body {
	color: var(--clr-primary-a50);
	background-color: var(--clr-surface-a0);
}

blockquote {
	border-left: 5px solid var(--clr-primary-a0);
	padding-left: 5px;
	margin-left: 1em;
	background-color: var(--clr-surface-a0);
}

pre {
    background-color: var(--clr-surface-a10);
    color: #fff;          
    padding: 0.5em;
    border-radius: 5px;
    overflow-x: auto;         
    font-family: monospace;    
    line-height: 1.6;
   
}

ol > li::marker {
	content: counters(list-item,'.') '. ';
}
/*
.axiom {
    color: var(--color-accent);
}*/

.def {
    /*color: var(--color-accent);*/
    font-weight: bold;
}

.thm {
	/*color: var(--color-accent);*/
    font-weight: bold;
}

.qed {
    /*color: var(--color-accent);*/
    text-align: right;
    font-weight: bold;
}